<div ng-controller="homeCtrl">

	<div class="tabs">
	    <ul class="is-left">
	        <li class="is-active disabled"><a>Home</a></li>
	    </ul>
	    <ul class="is-right">
	        <li><a href="#/new">Novo</a></li>
	    </ul>
	</div>

	<div class="card is-fullwidth"  ng-repeat="ad in advertising">
	    <header class="card-header">
	        <p class="card-header-title">
	            {{ ad.name }}
	        </p>
	    </header>
	    <footer class="card-footer">
	        <a class="card-footer-item" href="#/view/{{ ad.id }}">Visualizar</a>
	        <a class="card-footer-item" href="#/edit/{{ ad.id }}">Editar</a>
	    </footer>
	</div>

</div>
