<div ng-controller="itemCtrl">

	<div class="tabs">
	    <ul>
	        <li><a href="#/">Home</a></li>
	        <li class="is-active disabled"><a>{{ location }}</a></li>
	    </ul>
	</div>

	<label class="label">Nome</label>
	<p class="control">
		<input class="input" type="text" ng-model="item.name" ng-disabled="!edit">
	</p>

	<label class="label">Descrição</label>
	<p class="control">
		<textarea class="textarea" ng-model="item.description" ng-disabled="!edit"></textarea>
	</p>

	<label class="label">Tipo</label>
	<p class="control">
		<span class="select is-fullwidth">
			<select ng-disabled="!edit">
				<option ng-repeat="option in typeOptions" ng-selected="option.selected" value="{{ option.value }}">{{ option.name }}</option>
			</select>
		</span>
	</p>

	<label class="label">Valor</label>
	<p class="control has-addons">
		<span class="button disable">R$</span>
	    <input class="input is-expanded" type="text" ng-model="item.value" ng-disabled="!edit">
	</p>

	<div class="card is-fullwidth">
	    <header class="card-header">
	        <p class="card-header-title">
	            Imagens ({{ item.images.length }})
	        </p>
	        <a class="card-header-icon" ng-click="toggle.image()">
	            <i class="fa fa-angle-down"></i>
	        </a>
	    </header>
	    <div class="card-content" ng-class="class.image">

	    	<nav class="level notification" ng-repeat="img in item.images">
			  <div class="level-item has-text-left">
				<div class="media-right" ng-if="edit">
					<button class="delete" ng-click="removeImage()"></button>
				</div>
			    <p class="heading">Descrição</p>
			    <p class="title"><input class="input" type="text" ng-model="img.desc" ng-disabled="!edit"></p>
			    <p class="heading">Url</p>
			    <p class="title"><input class="input" type="text" ng-model="img.url" ng-disabled="!edit"></p>
			  </div>
			</nav>

	    </div>
		<footer class="card-footer" ng-class="class.image" ng-if="edit">
		    <a class="card-footer-item" ng-click="moreImage()">Adicionar imagem</a>
		</footer>
	</div>

	<div class="card is-fullwidth">
	    <header class="card-header">
	        <p class="card-header-title">
	            Local ({{ item.place.length }})
	        </p>
	        <a class="card-header-icon" ng-click="toggle.place()">
	            <i class="fa fa-angle-down"></i>
	        </a>
	    </header>
	    <div class="card-content" ng-class="class.place">

	    	<nav class="level notification" ng-repeat="location in item.place">
			  <div class="level-item has-text-left">
				<div class="media-right" ng-if="edit">
					<button class="delete" ng-click="removePlace()"></button>
				</div>
			    <p class="heading">Endereço</p>
			    <p class="title"><input class="input" type="text" ng-model="location.address" ng-disabled="!edit"></p>
			  </div>
			</nav>

	    </div>
		<footer class="card-footer" ng-class="class.place" ng-if="edit">
		    <a class="card-footer-item" ng-click="morePlace()">Adicionar endereço</a>
		</footer>

	</div>


	<label class="label">Contato</label>
	<p class="control">
		<input class="input" ui-mask="(99) 99-99" ui-mask-placeholder ui-mask-placeholder-char="_" type="text" ng-model="item.contact" ng-disabled="!edit">
	</p>

	<a class="button is-large is-success is-fullwidth" ng-click="sendItem()" ng-if="edit">Gravar</a>
</div>